@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap");

@import "tailwindcss";

/* Custom Color and Styles */
:root {
  --chai--yellow: #f4c542;
  --chai--brown: #3e2723;
}

/* Custom Utility Classes */
.text-chaiYellow {
  color: var(--chai--yellow);
}

.bg-chaiYellow {
  background-color: var(--chai--yellow);
}

.text-chaiBrown {
  color: var(--chai--brown);
}

.bg-chaiBrown {
  background-color: var(--chai--brown);
}

.hover\:text-chaiBrown:hover {
  color: var(--chai--brown);
}

.hover\:bg-chaiBrown:hover {
  background-color: var(--chai--brown);
}

/* Logo Font */
.logo-font {
  font-family: "Pacifico", cursive;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

/* hero section Floating Cards Shadow */
.custom-shadow {
  box-shadow:
    rgba(187, 89, 28, 0.25) 0px 50px 100px -20px,
    rgba(187, 89, 28, 0.3) 0px 30px 60px -30px,
    rgba(187, 89, 28, 0.35) 0px -2px 6px 0px inset;
}
